html {
  height:100%;
  margin: 0px;
  padding: 0px;
  color: #000;
  background: #f9f9f9;
}
body {
  height:100%;
  margin: 0px;
  padding: 0px;
  color: #000;
  background: #f9f9f9;
}

label, span, div, p, input, th, td {
  font-family: "Trebuchet MS",Verdana,sans-serif;
  font-size: normal;
  font-weight: normal;
  color: Black;
}

.header {
  background-color: #11cccc; 
  padding: 0px;
  margin: 0px;
}

.header h1{
  margin: 0px;
  padding: 5px;
}

.main {
  text-align : left;
  vertical-align : top;
  padding-top : 8px;
  padding-left : 8px;
  padding-bottom : 8px;
  padding-right :8px;
}

h2, legend {
  font-size : Large;
  color : #666666;
}

label {
  font-weight : bold;
  width : 180px;
}

th {
  background : #EEEEEE;
}

table.dataTable {
  border-style : solid;
  border-color : #EEEEEE;
  border-width : 2px;
  padding: 2px;
  border-spacing: 0px;
  border-collapse: collapse;
  width: 50%; 
}

td.dataTable {
  border-style : solid;
  border-color : #EEEEEE;
  border-width : 1px;
}

hr {
  background :#274247;
}

tr.selected {
  background: #EEEE00;
}

div.modal_screen {
  z-index:1;
  position:fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

div.dialog {
  margin: 15% auto;
  background-color: white;
  border: 1px solid #888;
  padding: 20px;
  width: 50%;
}
span.close {
  font-size: 20px;
  text-align: right;
}

div.notification {
  z-index: 1;
  position: fixed;
  width: 100%;
  color: #eeeeee;
  padding: 5px;
  left: 0;
  top: 0;
  height: 20px;
}

.info {
  background-color: #009900;
}
.error {
  background-color: #990000;
}

div.sidebar {
  width: 200px;
  height: 100%;
  float: left;
}
